
@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="form-inline">
    <div class="doc-title bg-primary">
        <h3 class="panel-title"> Documento #000123</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-md-9">

                    <div class="form-group">
                        <label for="CustomerEdit">Nombre del cliente</label>
                        <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' , width:200 }"></div>
                    </div>

                    <div class="form-group">
                        <label for="ContactEdit">Persona de Contacto</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true , width:200  }"></div>

                    </div>

                    <div class="form-group">
                        <label for="ProjectEdit">Nombre de proyecto</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true, width:200  }"></div>

                    </div>

                </div>

                <div class="col-md-3">
                    <p class="text-right no-margin">Saldo Actual</p>
                    <h1 class="text-right no-margin"> $ 123.456,00 </h1>
                </div>
            </div>

        </div>


        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="ReferenceEdit">Referencia</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true, width:150 }"></div>
                    </div>

                    <div class="form-group">
                        <label for="CurrencyEdit">Moneda</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true, width:150 }"></div>
                    </div>

                    <div class="form-group">
                        <label for="RateEdit">Tipo Cambio</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true, width:150 }"></div>
                    </div>

                    <div class="form-group">
                        <label for="TermsEdit">Terminos</label>

                        <div dx-lookup="{ dataSource: lookupData, displayExpr: 'name', title: 'Lookup title', searchEnabled: true, width:150 }"></div>
                    </div>

                    <div class="form-group">
                        <label for="DateCustomEdit">Fecha Customisable</label>
                        <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>
                    </div>
                </div>

                <div class="col-md-5">


                    <table class="table table-condensed table-borderless no-margin">

                        <tbody>
                            <tr>
                                <td class="text-right" width="25%"><label>Fecha Documento</label></td>
                                <td class="text-right" width="25%">

                                    <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>

                                </td>
                                <td class="text-right" width="25%"><label>Documento #</label></td>
                                <td class="text-right" width="25%">

                                    <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" width="25%"><label>Fecha Contabilizacion</label></td>
                                <td class="text-right" width="25%">
                                    <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>
                                </td>
                                <td class="text-right" width="25%"><label>Estado</label></td>
                                <td class="text-right" width="25%">

                                    <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <div class="panel-footer container-fluid nonborderbox">

            Tabs goes here

        </div>
        <div class="panel-body container-fluid">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="form-group-lg">
                        <label class="text-muted"><small>NOTAS DEL USUARIO</small></label>
                        <textarea rows="4" style="min-width: 100%" class="form-control "></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="EmployeeEdit">Vendedor</label>
                        <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text' }"></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="form-group pull-right">
                            <div dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:130 }"></div>
                        </div>
                        <div class="form-group pull-right">
                            <p class="form-control-static">SubTotal &nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pull-right">
                            <div class="pull-right" dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:100 }"></div>
                            <div class="pull-right" dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:30 }"></div>
                        </div>
                        <div class="form-group pull-right">
                            <p class="form-control-static">Descuento &nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pull-right">
                            <div class="pull-right" dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:100 }"></div>
                            <div class="pull-right" dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:30 }"></div>
                        </div>
                        <div class="form-group pull-right">
                            <p class="form-control-static">Impuesto &nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pull-right">
                            <div class="pull-right" dx-text-box="{placeholder: 'Type some', maxLength: 10, mode: 'text', width:130 }"></div>
                        </div>
                        <div class="form-group pull-right">
                            <p class="form-control-static" style="font-weight: 600; font-size: 16px">Total &nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>