@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

    @Html.DevExpress().Panel(settings => {
        settings.Name = "LeftPane";
        settings.FixedPosition = PanelFixedPosition.WindowLeft;
        settings.Collapsible = true;
        settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
        settings.ControlStyle.CssClass = "leftPane";
        settings.Styles.Panel.CssClass = "panel";
        settings.SetContent(() => {
            Html.RenderPartial("ContentLeftPartialView");
        });
    }).GetHtml()

    <div class="contentPane">
        @RenderBody()
    </div>