@using PandoraWeb.Models.Common
@model CommonEnums.HeaderViewRenderMode

@if(Model == CommonEnums.HeaderViewRenderMode.Title) {
    <div class="templateTitle">
        @Html.ActionLink("Pandora", "Index", "Home")
    </div>
} else { 
if(Model == CommonEnums.HeaderViewRenderMode.Full) { }

    <div class="headerMenu">
        @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "HeaderMenu";
            settings.ItemAutoWidth = false;
            settings.ControlStyle.CssClass = "headerMenu pull-right";
            settings.Items.Add("Item 1");
            settings.Items.Add("Item 2");
            settings.Items.Add("Item 3");
            settings.Items.Add("Item 4");
        }).GetHtml()

    </div>
}