<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DatabaseServer" value="SAP\RENTECO"/>
    <add key="DatabaseName" value="SBORENTECODEV"/>
    <add key="DatabaseType" value="dst_MSSQL2012"/>
    <add key="DatabaseUsername" value="sa"/>
    <add key="DatabasePassword" value="R3nt3c0D4t4"/>
    <add key="CompanyUsername" value="manager"/>
    <add key="CompanyPassword" value="B1Admin"/>
    <add key="Language" value="ln_English"/>
    <add key="LicenseServer" value="SAP"/>
  </appSettings>

</configuration>
