<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DatabaseServer" value="SAP\RENTECO"/>
    <add key="DatabaseName" value="SBORENTECODEV"/>
    <!--<add key="DatabaseName" value="SBORENTECO"/>-->
    <add key="DatabaseType" value="dst_MSSQL2012"/>
    <add key="DatabaseUsername" value="sa"/>
    <add key="DatabasePassword" value="R3nt3c0D4t4"/>
    <add key="CompanyUsername" value="manager"/>
    <add key="CompanyPassword" value="B1Admin"/>
    <add key="Language" value="ln_English"/>
    <add key="LicenseServer" value="SAP"/>
    <!--<add key="DatabaseServer" value="CHRONOZ"/>
    <add key="DatabaseName" value="SBODEMOCR"/>
    <add key="DatabaseType" value="dst_MSSQL2012"/>
    <add key="DatabaseUsername" value="sa"/>
    <add key="DatabasePassword" value="X0wq3p01!"/>
    <add key="CompanyUsername" value="manager"/>
    <add key="CompanyPassword" value="X0wq3p01!"/>
    <add key="Language" value="ln_Spanish"/>
    <add key="LicenseServer" value="CHRONOZ"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>